fastapi
uvicorn[standard]
uvicorn-worker
gunicorn
sqlalchemy
psycopg[c]
python-dotenv
passlib[bcrypt]
python-jose
pytest
pydantic[email]
bleach
geoalchemy2
httpx
python-multipart
python-json-logger
orjson
