fastapi
uvicorn[standard]
uvicorn-worker
gunicorn
sqlalchemy
psycopg[c]
python-dotenv
passlib[bcrypt]
python-jose
pytest
pytest-asyncio
pydantic[email]
bleach
geoalchemy2
httpx>=0.27
python-multipart
python-json-logger
orjson
