[Unit]
Description=Zoo Tracker FastAPI Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/zoo_tracker
EnvironmentFile=/opt/zoo_tracker/.env
ExecStart=/opt/zoo_tracker/venv/bin/gunicorn \
          -k uvicorn_worker.UvicornWorker \
          -w 5 \
          --timeout 60 \
          --graceful-timeout 30 \
          --max-requests 10000 \
          --max-requests-jitter 1000 \
          -b 127.0.0.1:8000 \
          --proxy-headers \
          --forwarded-allow-ips=127.0.0.1 \
          app.main:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
